/*------------------------------------------------------------------
[Main Stylesheet]

Author: AtypicalThemes
Template: STRIDER 2 - Video Game Studio

-------------------------------------------------------------------
Table of contents

    -General
    -Loading Screen
    -Cookie Management
    -Header & Navigation
    -Hero Section
    -Latest Game Section
    -Games Section
    -Team Section
    -Contact Section
    -Footer
    -Careers Page
    -Policy Pages
    -404 Page

Colors used:
    #6734FF
    #A385FF
    #6522E1

-------------------------------------------------------------------*/

/* --------------------------- /////////// GENERAL /////////// --------------------------- */
/* - Gradient text effect - */
.gradient-text {
    color: #0d0d0d; /* fallback */
    padding: 0 0.3125rem;
    background: linear-gradient(90deg, rgba(54, 37, 219, 1) 0%, rgba(128, 13, 209, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 0.25rem transparent;
    -webkit-text-fill-color: #0d0d0d;
}

.gradient-fill {
    display: inline;
    background: linear-gradient(90deg, rgba(54, 37, 219, 1) 0%, rgba(181, 60, 242, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.big-text {
    -webkit-text-stroke-width: 0.1875rem;
    width: auto;
    font-size: 6.5rem;
}

.highlight {
    color: #6734FF;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.heading {
    position: absolute;
    font-size: 4rem;
    margin: -3rem 0 0 3rem;
    font-weight: 700;
}

.custom-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/curtain-bg.webp); 
    background-size: cover;
    background-position: center;
}

.socials {
    margin-top: 0.625rem;
}

.socials li {
    display: inline;
    margin-right: 0.9375rem;
}

.socials li i {
    transition: 0.3s;
}

/* -Link Styling- */
a {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover:not(.nav-link, .socials li a) {
    color: #FFF;
	text-decoration: underline;
}

a:active {
    color: #FFF;
    text-decoration: underline;
}

a:focus {
    color: #FFF;
    text-decoration: none;
}

a:link {
    color: #FFF;
}

a.button, .modal a.button {
    color: #222;
}

a.button:hover, .modal a.button:hover {
    color: #FFF;
}

/* -Resets- */
html, body { 
    color: #FFF;
    background-color: #0d0d0d;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}

/* -Universal padding for section that are not full width- */
.padded {
    padding: 10rem 15rem;
}


/* -Text Styling */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
} 

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem; /* 16px */
    padding: 0.3125rem 0.3125rem 0.3125rem 0;
    font-weight: 400;
}

.loader-logo, #main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: 0.5rem;
}

.strong {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.capitalized {
    text-transform: capitalize;
}

.spaced {
    letter-spacing: 0.3125rem;
}

.subtle {
	color: #999;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

ul {
    margin: 0.625rem 0;
    list-style: none;
    padding: 0;
}

/* -Margins and Floats- */
.floated-left {
     float: left;
}

.floated-right {
    float: right;
}

.inline {
	display: inline;
}

.tiny-margin {
    margin-bottom: 3rem;
}

.small-margin {
	margin-bottom: 6rem; 
}

.medium-margin {
	margin-bottom: 8rem; 
}

.large-margin {
	margin-bottom: 12rem; 
}

/* -hr- */
hr {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(54, 37, 219, 1) 0%, rgba(181, 60, 242, 1) 100%);
    margin: 1.5625rem auto;
}

/* -General Button Styles */
button {
    outline: none !important;
}

.button {
    height: auto;
    width: auto;
    margin: 1.25rem auto;
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #222;
    border: none;
    border-radius: 2px;
    background: #FFF;
	display: inline-block;
    outline: none;
	transition: all 0.3s;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.button:visited {
    color: #222;
}

.button:hover {
    text-decoration: none !important;
    color: #FFF;
    background: #6734FF;
}

.button:focus {
    color: #222;
}

.help-block {
    font-size: 0.75rem;
}

/* --------------------------- /////////// LOADING SCREEN /////////// --------------------------- */
/* -Loading Screen- */
#loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 1050;
}

#loader-wrapper .flex-wrapper {
    width: 100%;
}

.loader-logo {
    color: #FFF;
    font-size: 3rem;
}

#progress {
    width: 0;
    height: 2px;
    background: #6522E1;
}

.loader-text {
    color: #FFF;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* -Loading Screen Animation- */
.content-loaded {
    transform: translate3d(0px, -100%, 0px);
    transition: all 0.5s ease;
}

/* --------------------------- /////////// COOKIE MANAGEMENT /////////// --------------------------- */
#policy-message, .policy-notice-bar {
    position: fixed;
    width: 100%;
    background-color: #111;
    color: #fff;
    z-index: 1060;
    transition: 0.5s ease;
    border-top: 1px solid #6522E1;
}

#policy-message {
    bottom: -50%;
    height: 60px;
    padding: 12px;
    text-align: center;
}

#policy-message.open {
    bottom: 0;
}

.policy-notice-bar {
    height: auto;
    bottom: -50%;
    padding: 1rem;
}

.policy-notice-bar a {
    color:#6522E1;
}

.policy-notice-bar a:hover {
    text-decoration: underline;
}

.policy-notice-bar.open {
    bottom: 0;
}

.policy-notice-bar p, #policy-message p {
    display: inline-block;
    margin-bottom: 0;
}

.policy-notice-bar .close, #close-policy-message {
    background-color: #FFF;
    color: #000;
    float: right;
}

.policy-bar-buttons {
    display: inline-block;
}

.policy-notice-bar button {
    display: inline-block;
    margin-left: 1rem;
}

.policy-notice-bar button, .policy-notice-bar .close, #close-policy-message {
    padding: 5px 10px;
    transition: 0.3s;
    border: none;
    border-radius: 2px;
}

.policy-notice-bar button:hover, .policy-notice-bar .close:hover, #close-policy-message:hover {
    background-color: #6522E1;
    color: #FFF;
}

.checkbox-wrapper {
    margin: 1rem 0;
}

/* --------------------------- /////////// HEADER AND NAVIGATION /////////// --------------------------- */
#main-logo {
    color: #fff;
    font-size: 1.6rem;
    margin: 0 1.25rem;
    text-decoration: none;
    max-height: 100px;
    width: auto;
}

.navbar-dark {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    height: auto;
    transition: 0.4s ease;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
    transition: all 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    letter-spacing: 0.125rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav {
    margin-top: 0;
}

.fixed-top {
    z-index: 90;
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 90;
}

/* Dropdown Menu */
.navbar-collapse .dropdown-menu {
	margin-top: 0.625rem;
	border: none;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.6); 
}

.navbar-collapse .dropdown-item {
	color: #fff;
	text-decoration: none;
}

.navbar-collapse .dropdown-item:hover {
	background: none; 
}

.navbar-collapse .dropdown-item .item-text {
	font-size: 0.875rem;
    transition: all 0.3s ease;
}

.navbar-collapse .dropdown-item:hover .item-text {
	letter-spacing: 2px;
}

.navbar-collapse .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.25rem auto 0.25rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 0.2;
}

/* Menu icon for mobile */
.navbar-toggler {
    border: none;
    cursor: pointer;
}
.navbar-toggler:focus {
    box-shadow: none;
}

#hamburger .icon-bar {
    display: block;
    height: 0.125rem;
    width: 1.5625rem;
    background: #FFF;
    margin: 0.4375rem 0;
    transition: .3s ease-in-out;
}

/* - Mobile menu animation - */
#hamburger .icon-bar:nth-child(1) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger .icon-bar:nth-child(2) {
   -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger .icon-bar:nth-child(3) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger.open .icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open .icon-bar:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#hamburger.open .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* --------------------------- /////////// HERO SECTION /////////// --------------------------- */
.hero-unit {
    height: 100vh;
    color: #FFF;
    overflow-x: hidden;
}

/* -Game in the background that is revealed on hover- */
.hero-game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(181, 60, 242, 0.9) 0%, rgba(54, 37, 219, 0.9) 100%), url(../images/hero.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    z-index: 2;
    overflow: hidden;
}

.hero-game h2,
.hero-game p {
    text-align: center;
}

.hero-game-img {
    margin-top: 25%;
    margin-left: 0;
    width: 100%;
}

.hero-game-caption {
    display: block;
    width: 50%;
    height: auto;
    margin: 40% auto;
    transition: 0.6s ease;
}
.hero-game-caption h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5rem;
}

.hero-game-caption p.mobile {
    display: none;
}

.hero-game-description {
    opacity: 0;
    transition: 0.6s ease;
}

.hover-arrow {
    margin-top: 5%;
    margin-left: 40%;
    width: 8%;
    z-index: 6;
    animation: arrowslide 1.5s infinite;
}

.video-button {
    transition: 0.3s ease;
}

.video-button:hover {
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}

.video-button:hover img {
    transform: scale(1.1);
}

.video-button p {
    font-size: 1.2rem;
}

.video-button img {
    display: block;
    margin: 1rem auto 0.5rem auto;
    transition: 0.3s ease;
}

@keyframes arrowslide {
    0% {
       margin-left: 40%;
       opacity: 1;
    }
    100% {
        margin-left: 50%;
        opacity: 0;
    }
}

/* -Folding curtain- */
.curtain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/curtain-bg.webp); 
    background-size: cover;
    background-position: center;
    z-index: 5;
    transition: 0.8s ease;
    width: 60%;
    height: 100%;
    padding: 0;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

.curtain-open {
    width: 0;
}

/* -Text on the left side- */
.hero-caption {
    width: auto;
    height: auto;
    position: absolute;
    top: 40%;
    left: 15%;
}

.hero-caption h1 {
    font-size: 5rem;
    letter-spacing: 0.3125rem;
    margin-bottom: 0;
}

.hero-caption p {
    font-size: 2rem;
}

.hero-caption p:last-of-type {
    float: right;
}


/* --------------------------- /////////// LATEST GAME SECTION /////////// --------------------------- */
.latest-game.right {
    background-image: linear-gradient(90deg, rgba(54, 37, 219, 0.9) 0%, rgba(181, 60, 242, 0.9) 100%), url(../images/featured-game-bg.webp);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
    min-height: 720px;
    height: auto;
}

.feature-img {
    position: absolute;
    height: auto;
    width: auto;
    right: 25%;
}

.latest-game.left {
    margin-top: 5rem;
    padding: 1.5rem 1.5rem 1.5rem 5rem;
}

.latest-game.left .text {
    width: 80%;
}

.latest-game.left h3 {
    font-weight: bold;
}

.latest-game.left .button:focus {
    color: #FFF;
    background-color: #6522E1;
}

.latest-game.left .dropdown-menu {
    width: 200px;
    border-radius: 2px;
}

.latest-game.left .dropdown-menu li a {
    color: #000;
}

.latest-game.left .dropdown-menu li a:focus {
    background-color: #6522E1;
    color: #FFF;
}

.platforms {
    margin-top: 4rem;
}

.platforms ul li {
    display: inline-block;
    margin: 0 3.125rem 1.25rem 0;
}

.colored-border {
    border: 1px solid #fff;
    border-radius: 10px;
}
.button.features {
    padding: 0.563rem 0.9375rem;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    margin-right: 1rem;
}
.button.features:hover {
    background: #fff;
    color: #111;
}

/* --------------------------- /////////// GAMES SECTION /////////// --------------------------- */
.game-tags {
    margin-bottom: 1.5625rem;
}

.game-tags li {
    display: inline;
    margin-left: 0.9375rem;
    font-size: 1.3rem;
}

.game-tags li button {
    transition: 0.3s;
    background: none;
    border: none;
    color: #FFF;
}

.game-tags li button:hover, .game-tags li button:focus {
    color: #6522E1;
}

.game-gallery {
    width: 100%;
    margin: 0 auto;
}

.game-card {
    cursor: pointer;
    padding: 0;
    overflow: hidden;
}

.game-img {
    width: 100%;
    opacity: 0.8;
    transition: 0.6s ease;
}

.game-card .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    mix-blend-mode: multiply;
    transition: 0.8s ease;
}
.game-card h3 {
    position: absolute;
    left: 2.8125rem;
    top: 2.1875rem;
    font-size: 2rem;
}

.game-card:hover .overlay {
    opacity: 0.5;
}

.game-card:hover img {
    transform: scale(1.3);
}

.game-card:hover .promotion {
    color: #FFF;
}

.game-card .promotion {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6522E1;
    padding: 1rem;
}

/* --------------------------- /////////// TEAM SECTION /////////// --------------------------- */
.team-wrapper {
    position: relative;
}

.team-cards-background {
    position: absolute;
    width: 80%;
    height: 25%;
    top: 35%;
    left: 10%;
    background: linear-gradient(90deg, rgba(181, 60, 242, 0.9) 0%, rgba(54, 37, 219, 0.9) 100%);
}

.team-card {
    position: relative;
    overflow: hidden;
}

.team-card img {
    border-radius: 3px;
    display: block;
    transition: 0.6s ease;
}

.team-wrapper .col-lg-3:nth-of-type(2n) {
    margin-top: 5%;
}

.team-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #111;
    mix-blend-mode: multiply;
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease;
    border-radius: 3px;
}

.team-card:hover .team-overlay {
    opacity: 0.3;
}
.team-card:hover img {
    transform: scale(1.2);
}

.member-description {
    position: absolute;
    left: 0;
    bottom: -10rem;
    width: 100%;
    transition: 0.6s ease;
    z-index: 2;
}

.team-card:hover .member-description {
    bottom: 2rem;
}

.member-description h3 {
    margin-bottom: 0;
}

.socials.team li a i {
    font-size: 1.5rem;
    color: #FFF;
}

.socials.team li a i:hover {
    transform: scale(1.2);
}

/* -- Careers -- */
#careers .col-lg-5 {
    padding: 0 0 0 3%;
}

.studio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000;
    mix-blend-mode: multiply;
    transition: 0.4s ease;
    z-index: 1;
}

.studio-gallery {
    padding: 1.875rem 0;
}

.studio-item {
    padding: 0;
    overflow: hidden;
}

.studio-item img {
    width: 100%;
    transition: 0.6s ease;
}

.studio-item:hover .studio-overlay {
    opacity: 0.5;
}

.studio-item:hover img {
    transform: scale(1.2);
}

/* Lightbox caption style */
.glightbox-clean .gslide-description {
    background-color: rgba(0, 0 ,0 , 0.8);
}
.glightbox-clean .gdesc-inner {
    background-color: transparent;
    padding: 1rem;
}

.glightbox-clean .gslide-title {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    margin: 0;
}

/* --------------------------- /////////// CONTACT SECTION /////////// --------------------------- */

/* - Contact Form - */
#contactForm input {
    width: 100%;
}

input {
    width: auto;
    color: #FFF;
    background: none;
    outline: none;
    border-bottom: 2px solid #6522E1;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 1.5625rem;
}

textarea {
    width: 100%;
    height: 6.25rem;
    color: #FFF;
    background: none;
    outline: none;
    border-bottom: 2px solid #6522E1;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 1.5625rem;
}

input:focus, textarea:focus {
    border-color: #FFF !important;
}

input,textarea {
    transition: 0.2s;
}

input,
textarea,
select {
  transition: background-color 9999s ease-in-out 0s !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #0d0d0d inset !important;
    -webkit-text-fill-color: #FFF !important;
}

input#newsletter {
    display: inline-block;
    width: 70%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#newsletterForm a {
    font-weight: bold;
}

.newsletter-button {
    display: inline-block;
    margin: 0 0 1rem 0;
}

.newsletter-perks li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.newsletter img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

#contactForm .button {
    width: auto;
    margin-left: 0;
    padding: 0.9375rem;
    font-size: 1.25rem;
    transition: 0.3s;
}

.company-info {
    margin-top: 3rem;
}

.company-info li {
    display: block;
    font-size: 1rem;
}

.company-info .highlighted {
    color: #FFF;
}

.company-info a {
    color: #FFF;
    word-break: break-word;
    overflow-wrap: anywhere;
    font-weight: bold;
}

.company-info li a:hover {
    text-decoration: underline;
}

.company-info li i {
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    background-color: #111;
}

#map-canvas {
    min-height: 500px;
    height: 100%;
    width: 100%;
    background-color: #222;
}

/* --------------------------- /////////// FOOTER /////////// --------------------------- */
.footer {
    width: 100%;
    height: auto;
    background: #070707;
    border-top: 2px solid #6522E1;
    padding: 0.5rem 0;
}

.footer .col-lg-3 {
    display: flex;
}

.footer .col-lg-3:first-of-type {
    justify-content: flex-start;
}

.footer .col-lg-3:last-of-type {
    justify-content: flex-end;
}

.footer .socials li {
    display: inline;
}

.footer .socials li a {
    color: #FFF;
}

.footer .socials li a:hover {
    color: #6522E1;
    text-decoration: none;
}

.footer .socials li a:focus {
    color: #6522E1;
}

#copyright {
    margin-top: 0.425rem;
    margin-bottom: 0;
}

.footer-links li {
    display: inline;
    font-size: 14px;
    margin: 0 12px;
}

.footer-links button {
    background: none;
    border: none;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.footer-links li a:hover, .footer-links button:hover {
    color: #FFF;
    text-decoration: underline;
}

/* --------------------------- /////////// CAREERS PAGE /////////// --------------------------- */
.careers-page {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/careers-bg.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    min-height: 720px;
    padding: 15% 0;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 200;
}

.company-logo {
    width: 70%;
}

.job-perks li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.team-video {
    position: relative;
    max-height: 410px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.11);
}

.play-button.team {
    width: 10%;
    position: absolute;
    top: 40%;
    left: 45%;
    transition: 0.3s;
}

.team-video:hover .play-button.team {
    transform: scale(1.2);
}

.jobs-carousel {
    padding-bottom: 8rem;
}

.job-card {
    background: rgba(0, 0, 0, 0.6);
    color: FFF;
    border-radius: 2px;
    padding: 2rem 3rem;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.11);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.job-card hr {
    color:#6522E1;
    border-top: 1px solid;
    opacity: 1;
    width: 120px;
    margin: 1rem auto;
}

.job-card .button:hover {
    background-color: #FFF;
    color: #111;
    transform: scale(1.1);
}

.modal-content {
    background-color: #070707;
}

.skill-list, .job-requirements {
    list-style: none;
    padding: 0;
}

.skill-list li {
    display: inline-block;
    border: 1px solid #6522E1;
    border-radius: 20px;
    padding: 5px 15px 7px 15px;
    margin: 5px 5px;
}

.job-requirements li:before {
    content: "\f101";
    color: #6522E1;
    display: inline-block;
    width: 1rem;
    margin-left: -10px;
    font-family: fontawesome;
}

.job-requirements li {
    margin: 1rem;
}

.job-requirements li p {
    padding: 0 10px;
    display: inline;
}

.modal-header button {
    background-color: #FFF;
    border: 1px solid #000;
}

.modal-footer .button {
    margin: 0 0 0 1rem;
}

/* --------------------------- /////////// POLICY PAGES /////////// --------------------------- */
.extra-page {
    font-size: 0.875rem;
}

.extra-page h3 {
    font-size: 1.5rem;
}

.extra-page a:not(.socials li a) {
    color: #A385FF;
}

.extra-page a:hover {
    text-decoration: underline;
}

.extra-page .hero-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
    height: auto;
    background: #222;
    border: none;
}

.extra-page h1 {
    font-size: 3.5rem;
}

.extra-page h2 {
    font-size: 1.8rem;
}

.text-container ul {
    list-style: circle;
    margin-left: 2.5rem;
}

.text-container ul li {
    margin: 0.3125rem 0;
}

.text-container ol li {
    margin: 0.3125rem 0;
}

.breadcrumb-nav {
    display: flex;
    align-items: center;
    background: #171717;
    border: none;
    height: 3.75rem;
}

.breadcrumb {
    border: none;
    background: none;
    margin: 0;
    padding-left: 1rem;
}

.breadcrumb-item.active {
    color: #999;
}

.breadcrumb-item.active::before {
    color: #999;
}

.form-control {
    height: 2.8125rem;
    width: 100%;
    background: #222;
    border: none;
    outline: 1px solid #333;
    color: #fff;
}

.form-control:focus {
    background: #222;
    border: none;
    outline: 1px solid #FFF;
    color: #fff;
}

.form-control-select {
    width: 100%;
    height:2.8125rem;
    background: #222;
    border: none;
    outline: 1px solid #333;
    color: #fff;
    padding: 0 0 0 1.25rem;
}

.checkbox {
    font-size: 0.875rem;  
}

.checkbox input {
    width: auto;
    height: auto;
    vertical-align: -5%;
    margin-right: 0.375rem;
}

#privacyForm .button {
    width: 100%;
    margin-top: 0;
    height: 3.125rem;
    font-size: 1.1rem;
}

.form-container {
    flex-basis: 100%;
}

#privacyForm input {
    width: 100%;
    height: 45px;
    margin-bottom: 0;
    border: none;
    border-radius: 4px;
    background: #222;
    padding: 0 0 0 20px;
    color: #FFF;
}

#privacyForm input:focus {
    outline: 1px solid #FFF;
}

#privacyForm .form-group {
    margin-bottom: 1rem;
}

#footer-extra {
    padding-top: 1.5625rem;
    border-top: 1px solid #6734FF;
}

#footer-extra .socials li a {
    margin-bottom: 10px;
}

#footer-extra .socials li a:hover {
    text-decoration: none;
    color: #6522E1;
}

/* --------------------------- /////////// 404 PAGE /////////// --------------------------- */
.error-page {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(../images/404-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

.error-page .col-lg-12 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.error-page h1 {
    font-size: 10rem;
    letter-spacing: 1rem;
    margin-bottom: 0;
}

.error-page p {
    font-size: 1.5rem;
    padding-top: 0;
    margin-bottom: 2rem;
}

/* --------------------------- /////////// RESPONSIVE STYLES /////////// --------------------------- */
@media (min-width : 1680px) {
    .container {
        max-width: 1500px;
    }
}

@media (max-width : 1200px){
    .policy-bar-buttons, .policy-notice-bar .close {
        margin-top: 10px;
    }

    .curtain-left {
        display: none;
    }

    .latest-game.left {
        padding: 0;
    }

    .big-text {
        font-size: 4rem;
    }

    .heading {
        font-size: 3rem;
    }

    .hero-game-img {
        display: none;
    }
    
    .feature-img {
        display: none;
    }

    .hero-caption {
        left: 5%;
    }

    .hero-caption h1 {
        font-size: 4rem;
    }

    .platforms img {
        height: 60px;
        width: auto;
        display: inline-block;
    }

    .tiny-margin {
        margin-bottom: 1.5rem;
    }
    
    .small-margin {
        margin-bottom: 3rem; 
    }
    
    .medium-margin {
        margin-bottom: 4rem; 
    }
    
    .large-margin {
        margin-bottom: 6rem; 
    }

    #newsletter {
        width: 100%;
    }

    .hero-game-caption p.desktop {
        display: none;
    }

    .hero-game-caption p.mobile {
        display: block;
    }
}

@media (max-width : 1024px) {
    .hero-game-caption {
        width: 100%;
        margin-top: 40%;
        padding: 0 1rem;
    }

    .latest-game.right {
        display: none;
    }

    .team-wrapper .col-lg-3:nth-of-type(2n) {
        margin-top: 0;
    }

    .team-cards-background {
        opacity: 0;
    }

    .team-card img {
        margin: 2rem auto;
    }

    .careers-section-collage {
        display: block;
        margin: 0 auto;
    }

    .padded {
        padding: 5rem 3rem;
    }

    .newsletter img {
        margin-top: 2rem;
    }

    .footer .col-lg-3 {
        justify-content: center !important;
    }

    #footer-extra .col-md-4 {
        justify-content: center !important;
        text-align: center;
        padding-bottom: 2rem;
    }
}

@media (min-width : 991px) and (max-width : 1366px) {
    h3 {
        font-size: 1.5rem;
    }

    .hero-caption {
        left: 10%;
    }

    .hero-game-caption {
        width: 50%;
        margin: 30% auto 0 auto;
        padding: 0 2rem;
    }

    .game-card h3 {
        font-size: 1.5rem;
    }

    .game-card .promotion {
        padding: 8px;
    }

    .careers-page .hero img {
        display: none;
    }

}

@media (max-width : 991px) {
    .navbar-dark {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .scrolled {
        background-color: rgba(0, 0, 0, 0.8);
        height: auto;
    }

    .navbar-collapse .dropdown-menu {
        background: none;
    }

    .careers-page .hero {
        padding: 20% 0 15% 0;
    }

    .careers-page .hero h1 {
        text-align: center;
        margin-bottom: 10%;
        font-size: 4rem;
    }
    
    .careers-page .hero img {
        margin: 0 auto;
    }

    .team-video {
        margin-top: 2rem;
    }

    .error-page h1 {
        font-size: 8rem;
    }

    #careers .button {
        width: 100%;
        margin-bottom: 5rem;
    }
    
    #contactForm .button {
        width: 100%;
    }

    .contact-box button {
        width: 100%;
    }

    .contact-box {
        width: 100%;
    }
}

@media (max-width : 768px) {
    .navbar-nav {
        padding-left: 1rem;
    }
    
    .platforms {
        display: none;
    }

    .latest-game.left {
        margin-bottom: 5rem;
    }

    #policy-bar button {
        display: block;
        margin-top: 1rem;
        margin-left: 0;
    }

    #close-policy-bar {
        float: none;
    }

    #close-policy-message {
        float: none;
    }
    
}

@media (max-width : 692px) {
    #policy-message {
        height: 150px;
    }

    .hero {
        margin-bottom: 0;
    }

    .modal-header h2 {
        font-size: 1.5rem;
    }
}

@media (max-width : 480px) {
    .hero-game-caption {
        margin-top: 60%;
    }

    .heading {
        margin-left: 0;
        margin-top: -2rem;
        font-size: 2rem;
    }

    .big-text {
        font-size: 3rem;
    }

    .game-card h3 {
        font-size: 1.2rem;
    }

    .game-card .promotion {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .game-tags li {
        margin-left: 5px;
    }

    .careers-page .hero {
        padding: 35% 0 0 0;
    }

    .careers-page .hero h1 {
        font-size: 2.5rem;
    }

    .newsletter-perks li {
        font-size: 1.2rem;
    }

    .company-info .label {
        display: none;
    }

    .company-info li i {
        padding: 0;
    }

    .footer-links li {
        display: block;
        margin-bottom: 8px;
    }
}